{%- raw %}
changelog:
  name: Generate changelog

  runs-on: ubuntu-24.04

  permissions:
    contents: read

  outputs:
    release_body: ${{ steps.git-cliff.outputs.content }}

  steps:
    - name: Checkout code
      uses: actions/checkout@d23441a48e516b6c34aea4fa41551a30e30af803 # v6.1.0
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Generate a changelog
      id: git-cliff
      uses: orhun/git-cliff-action@f50e11560dce63f7c33227798f90b924471a88b5 # v4.8.0
      with:
        config: .github/cliff.toml
        args: -vv --current
      env:
        OUTPUT: CHANGELOG.md
        GITHUB_REPO: ${{ github.repository }}
{%- endraw %}