{%- raw %}
changelog:
  name: Generate changelog

  runs-on: ubuntu-24.04

  permissions:
    contents: read

  outputs:
    release_body: ${{ steps.git-cliff.outputs.content }}

  steps:
    - name: Checkout code
      uses: actions/checkout@df4cb1c069e1874edd31b4311f1884172cec0e10 # v6.0.3
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Generate a changelog
      id: git-cliff
      uses: orhun/git-cliff-action@a9a95522b26fe6403f7bb24031f21fb573d0f5ff # v4.9.1
      with:
        config: .github/cliff.toml
        args: -vv --current
      env:
        OUTPUT: CHANGELOG.md
        GITHUB_REPO: ${{ github.repository }}
{%- endraw %}