{%- raw %}
build-docker:
  name: Build (${{ matrix.arch }})

  runs-on: ${{ matrix.runner }}

  permissions:
    contents: read

  strategy:
    fail-fast: false
    matrix:
      include:
{%- endraw %}
        {%- for platform in docker_platforms %}
        - platform: {{ platform["os"] }}/{{ platform["arch"] }}
          arch: {{ platform["arch"] }}
          runner: {{ platform["runner"] }}
        {%- endfor %}
{%- raw %}

  steps:
    - name: Checkout Repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Commit timestamp
      id: ts
      run: echo "TIMESTAMP=$(git log -1 --pretty=%ct)" >> "$GITHUB_OUTPUT"

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@4d04d5d9486b7bd6fa91e7baf45bbb4f8b9deedd # v4.0.0

    - name: Warm cache (no push) [${{ matrix.platform }}]
      uses: docker/build-push-action@f9f3042f7e2789586610d6e8b85c8f03e5195baf # v7.2.0
      with:
        context: .
        file: ./Dockerfile
        platforms: ${{ matrix.platform }}
        push: false
        build-args: |
          COMMIT_SHA=${{ github.sha }}
          BUILD_DATE=${{ steps.ts.outputs.TIMESTAMP }}
        cache-from: type=gha,scope=${{ matrix.platform }}
        cache-to: type=gha,mode=max,scope=${{ matrix.platform }}
        provenance: false
{%- endraw %}