{%- raw %}
build-binary:
  name: Build binary
  runs-on: ${{ matrix.runner }}
  permissions:
    contents: read
  strategy:
    fail-fast: false
    matrix:
      include:
{%- endraw %}
        {%- for platform in binary_platforms %}
        - os: {{ platform["os"] }}
          arch: {{ platform["arch"] }}
          runner: {{ platform["runner"] }}
        {%- endfor %}
{%- raw %}
  steps:
    - name: Checkout code
      uses: actions/checkout@d23441a48e516b6c34aea4fa41551a30e30af803 # v6.1.0
      with:
        persist-credentials: false

    - name: Set up Go
      uses: actions/setup-go@4a3601121dd01d1626a1e23e37211e3254c1c06c # v6.4.0
      with:
        go-version: stable
        cache: false

    - name: Get Git commit timestamps
      run: echo "TIMESTAMP=$(git log -1 --pretty=%ct)" >> "$GITHUB_ENV"
      shell: bash

    - name: Generate filenames
      id: generate-filename
      shell: bash
      run: |
        # Get repo name
        REPO_NAME=$(echo "${{ github.repository }}" | cut -d'/' -f2)

        # Get version
        VERSION=$(echo "${GITHUB_REF_NAME}" | sed 's/^v//')

        # Set output
        echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
        echo "BINARY_NAME=${REPO_NAME}" >> $GITHUB_OUTPUT

    - name: Build binary
      run: go build -trimpath -a -o "${BINARY_NAME}" -ldflags '-w -X main.version=${GITHUB_REF_NAME} -X main.buildTime=${TIMESTAMP} -extldflags "-static"'
      shell: bash
      env:
        GOOS: ${{ matrix.os }}
        GOARCH: ${{ matrix.arch }}
        CGO_ENABLED: 0
        BINARY_NAME: ${{ steps.generate-filename.outputs.BINARY_NAME }}
        TIMESTAMP: ${{ env.TIMESTAMP }}
{%- endraw %}
