{%- raw %}
test:
  name: Test
  runs-on: ubuntu-24.04
  permissions:
    contents: read
  strategy:
    matrix:
      go:
{%- endraw %}
{%- for version in versions %}
        - "{{ version }}"
{%- endfor %}
{%- raw %}
  steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Install go
      uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
      with:
        go-version: ${{ matrix.go }}

    - name: Run tests
      run: go test -v
{%- endraw %}