Install [Go](https://go.dev/doc/install).

{%- if lint|default(false) %}
### Run linter and formatter

[golangci-lint](https://golangci-lint.run/docs/welcome/install/#local-installation) must be installed.

```
golangci-lint run
go fmt .
```
{%- endif %}

{%- if test|default(false) %}
### Run test

```
go test
```
{%- endif %}