{%- raw %}
build-binary:
  name: Build binary
  runs-on: ${{ matrix.runner }}
  permissions:
    contents: read
  strategy:
    fail-fast: false
    matrix:
      include:
{%- endraw %}
        {%- for platform in binary_platforms %}
        - target: {{ platform["target"] }}
          runner: {{ platform["runner"] }}
        {%- endfor %}
{%- raw %}
  steps:
    - name: Checkout code
      uses: actions/checkout@d23441a48e516b6c34aea4fa41551a30e30af803 # v6.1.0
      with:
        persist-credentials: false

    - name: Install dependencies
      shell: bash
      run: |
        if [[ "${{ matrix.target }}" = *"-musl" ]]; then
          sudo apt update
          sudo apt install -y --no-install-recommends \
            musl-tools
        fi

    - name: Configure rust toolchain stable
      run: |
        rustup update stable
        rustup default stable
        rustup target add ${{ matrix.target }}

    - name: Build the binary
      run: cargo build --release --locked --target=${{ matrix.target }}
{%- endraw %}
