{%- raw %}
lint:
  name: Lint
  runs-on: ubuntu-24.04
  permissions:
    contents: read
  steps:
    - name: Checkout code
      uses: actions/checkout@d23441a48e516b6c34aea4fa41551a30e30af803 # v6.1.0
      with:
        persist-credentials: false

    - name: Configure rust toolchain stable
      run: rustup update stable && rustup default stable

    - name: Add components
      run: |
        rustup component add clippy
        rustup component add rustfmt

    - name: Run cargo fmt
      run: cargo fmt --all --check

    - name: Run cargo clippy
      run: cargo clippy --all-targets --all-features --workspace -- -D warnings

    - name: Run cargo update locked
      run: cargo update --workspace --locked
{%- endraw %}
