{%- raw %}
lint:
  name: Lint
  runs-on: ubuntu-24.04
  permissions:
    contents: read
  steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Configure rust toolchain stable
      run: rustup update stable && rustup default stable

    - name: Add components
      run: |
        rustup component add clippy
        rustup component add rustfmt

    - name: Run cargo fmt
      run: cargo fmt --all --check

    - name: Run cargo clippy
      run: cargo clippy --all-targets --all-features --workspace -- -D warnings

    - name: Run cargo update locked
      run: cargo update --workspace --locked
{%- endraw %}
