{%- raw %}
test:
  name: Test
  runs-on: ubuntu-24.04
  permissions:
    contents: read
  steps:
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        persist-credentials: false

    - name: Configure rust toolchain stable
      run: rustup update stable && rustup default stable

    - name: Build the project
      run: cargo build

    - name: Run tests
      run: cargo test --release
{%- endraw %}
