{%- raw %}
test:
  name: Test
  runs-on: ubuntu-24.04
  permissions:
    contents: read
  steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Configure rust toolchain stable
      run: rustup update stable && rustup default stable

    - name: Build the project
      run: cargo build

    - name: Run tests
      run: cargo test --release
{%- endraw %}
